.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/imagens/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}



.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
   align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista__menu {
   display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista__menu {
   display: block;
}

.lista__menu__titulo, .lista__menu__item{
    padding: 1em;
    background-color: var(--branco);
}

.lista__menu__titulo{
    color: #EB9B00;
    font-weight: 700;
}

.lista__menu__link{
    color: var(--azul-degrade);
    text-decoration: none;
   text-transform: uppercase;
}

.container__botao, .container__titulo, .container__texto, .opcao{
    display: none;
}


@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo__negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 400;
        display: block;
    }

    .container__titulo__negrito{
        font-weight: 700;
    }

    .opcao{
        display: flex;
    }

    .opcao__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem__transparente{
        display: none;
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }

    .opcao__botao:checked ~.lista__menu{
        display: block;
        width: auto;
    }

    .opcao__botao{
        display: none;
    }

}

@media screen and (min-width: 1728px) {
    
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
       
    .cabecalho{
        padding: 1em;
    }

    .opcao{
        margin-right: auto;
    }

    .container__texto{
        display: block;
    }
}